

body{
  font-family: sans-serif;
  background-color: #363f49;
  margin: 0px;
  padding: 0px;
}


header{
  background-color: #292f3a;
  position: relative;
  overflow: hidden;
  .tittle{
    position: relative;
    float: left;
    display: inline-block;
    font-size: 24px;
    color: #f2f2f2;
    font-weight: 200;
    // margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .nav_cont{
    position: relative;
    float: right;
    .nav_item{
      &:hover{
        cursor: pointer;
        .text{
          border-color: #363f49;
        }        
      }
      &.active{
        .text{
          color: #d19b13;
          border-bottom: 1px solid #d19b13;
        }
      }
      &.active, &:hover{
        background-color: #363f49;
      }
      display: inline-block;
      padding: 26px;
      margin: 0 10px;
      .text{
        text-transform: uppercase;
        font-size: 13px;
        color: #fff;
        font-weight: 100;
        border-bottom: 1px solid #292f3a;
      }
    }

  }

}

.chart_tittle {
  .text{
    color: #f6f6f6;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
    font-size: 20px;
    span{
      font-weight: 100;
    }
  }
}

.chart_cont{
  float: left;
  width: 50%;
  display: inline-block;
}

svg {
  font: 10px sans-serif;
}

.light.axis line,
.light.axis path {
  fill: none;
  // stroke: #f3f3f3;
  // shape-rendering: crispEdges;
}

.stroked.axis.x line,
.stroked.axis.x path {
  fill: none;
  // stroke: #f3f3f3;
  // shape-rendering: crispEdges;
}

.stroked.axis.y line,
.stroked.axis.y path {
  // fill: none;
  // stroke: #f3f3f3;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
  fill: #a5a5a5;
  cursor: move;
}

div.tooltip { 
    position: absolute;
    width: 150px; 
    line-height: 20px;        
    height: 70px;         
    padding: 8px;
    padding-left: 12px;      
    font: 12px sans-serif;    
    background: rgba(242, 242, 242, 0.95); 
    color: #000;
    border: 0px;    
    border-radius: 4px;     
    pointer-events: none;     
}

// symbology

.howToCont{
  width: 50%;
  margin-left: 30px;
  margin-bottom: 40px;
  color: #b2b2b2;
  .howToTittle{
    margin-bottom: 10px;
    font-size: 14px;
  } 
  .howToExp{
    font-size: 13px;
    line-height: 18px;
  }
}

.howToTittle{
  font-size: 14px;
  fill: #b2b2b2;
}

.minConsum,.maxConsum,.minMotion,.maxMotion{
  fill: #f2f2f2;
}

@import "loaders.scss";

.loader{
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 150px;
}

path { shape-rendering: auto; }
